REACT_APP_API_NX_URL=https://example.com/api
REACT_APP_API_URL=https://example.com/api
REACT_APP_BASE_URL_CONASAMA_V1=https://example.com/api
REACT_APP_BASE_URL_ENVEJECIMIENTO=https://example.com/api
REACT_APP_BASE_URL_F1=https://example.com/api
REACT_APP_BASE_URL_F1_COPY=https://example.com/api
REACT_APP_BASE_URL_SEGURIDAD=https://example.com/api
REACT_APP_BASE_URL_SEP_SUPERIOR_V1=https://example.com/api
REACT_APP_BASE_URL_SEP_V1=https://example.com/api
REACT_APP_CAT_CIUDADES_ENDPOINT=/catalogos/ciudades
REACT_APP_CAT_ESTADOS_ENDPOINT=/catalogos/estados
REACT_APP_CAT_PAISES_ENDPOINT=/catalogos/paises
REACT_APP_CAT_SEDES_ENDPOINT=/catalogos/sedes
REACT_APP_REGISTRO_SEP_BASE_URL=https://example.com/api
REACT_APP_REGISTRO_SEP_ENDPOINT=/registro

REACT_APP_PACIENTE_BASE_URL=https://example.com/api
REACT_APP_JUPYTER_URL=https://example.com/jupyterhub

REACT_APP_DEMO_MODE=true
